.category {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.category-title {
  background-color: #0000AF;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 15px 10px;
  font-size: 1rem;
  border: 3px solid black;
  border-radius: 5px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.category-questions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}
